<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
  <style>
    .formulario{
      margin-top: 50%;
      margin-left: 20px;
      margin-right: 20px;
    }
    .botao{
      margin-top: 33%;
      margin-left: 20px;
      margin-right: 20px;
    }
  </style>
</ion-header>

<ion-content>
    <div class="formulario"margin>
        <ion-item>
          <ion-input placeholder="Digite seu nome e sobrenome" type="text" style="text-align: center"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input placeholder="Digite seu email" type="email" style="text-align: center"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Digite sua senha" type="text" style="text-align: center"></ion-input>
          </ion-item>
    
          <ion-item>
              <ion-input placeholder="Confirmar senha" type="text" style="text-align: center"></ion-input>
          </ion-item>
    </div>

    <div class="botao">
      <span margin>
          <ion-button expand="block" color="primary" (click)="registrar('home')" >Cadatrar</ion-button>
        </span>
      </div>
</ion-content>
